#content{
  gap: 30px;
}

.text {
  font-size: calc(var(--fontSize) * 1.5);
  color: white;
}

img{
  width: clamp(300px, 50%, 400px);
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 15px;
}

a {
  color: white;
}
