.menuContainer {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 50px;
}

.menuCard {
  text-align: center;
  color: white;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
  img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
  }
}
